# Assignment 6

*(Due Saturday, October 26, 2019 at noon.)*

**1)** Below, paste the code needed to import and clean your file from the `../dataset` directory in your repository, then save the result to a new file. I should be able to run the code in this notebook and get my own copy of your cleaned, processed data.

**Note:** Your assignment file will be publicly accessible on Github. If your dataset is private, don't print anything confidential in this assignment.

In [21]:
import numpy as np
import pandas as pd

In [22]:
#loading my environmental data
###set the first line as col names
banner4=pd.read_csv('../AStahl Dataset/PhysicalData_9.23.2019 .csv', nrows=5, encoding='latin')
colnames4 = list(banner4.columns)
print(colnames4)
###read in dataset with the col names that was just made
environ_data=pd.read_csv('../AStahl Dataset/PhysicalData_9.23.2019 .csv', encoding='latin', 
                         names=colnames4, skiprows=2)
###remove the last unwated 'notes' rows/unwanted data
environ_data=environ_data.iloc[:,:-7]
###only pulling the columns I want to use 
environ_data=environ_data.iloc[:,[3,6,7]]
environ_data.head()
####GOOD TO GO

['ID', 'Sample ID', 'Sample location', 'Date', 'Time', 'Weather desc', 'Surface Temp', 'Bottom Temp', 'Air Temp', 'Hours before high tide', 'Surface Salinity', 'Bottom Salinity', 'Secchi Depth', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15']

        Date  Surface Temp Bottom Temp
0  25-Jan-99          0.00           0
1  01-Feb-99          2.25         2.5
2  08-Feb-99          0.00           0
3  15-Feb-99          0.00           0
4  22-Feb-99          0.00           0

In [23]:
#loading my chlorophyll data 
###set the first line as col names
banner5=pd.read_csv('../AStahl Dataset/chldata_9.23.2019.csv')
colnames5 = list(banner5.columns)
print(colnames5)
###read in dataset with the col names that was just made
chl_data=pd.read_csv('../AStahl Dataset/chldata_9.23.2019.csv', 
                     names=colnames5,skiprows=3)
###remove the last unwated 'notes' rows
chl_data=chl_data.iloc[:,:-17]
###only pulling the columns I want to use
chl_data=chl_data.iloc[:,[12,13,14,15,16]]
##Rename columns
chl_data.rename(columns={'Sample Date.1':'Date','surface chla all':'Surface Chla all',
                        'Surface Phaeo all.1':'Surface Phaeo all','Bottom Chla all.1':'Bottom Chla all',
                         'Bottom Phaeo all.1':'Bottom Phaeo all'}, inplace=True)
chl_data.head()
###GOOD TO GO

['Sample', 'Sample location', 'Sample Date', 'Surface Chla all', 'Surface Phaeo all', 'Bottom Chla all', 'Bottom Phaeo all', 'surface chla <20 um', 'Surface Phaeo <20 um', 'Bottom Chla <20 um', 'Bottom Phaeo <20 um', 'Unnamed: 11', 'Sample Date.1', 'surface chla all', 'Surface Phaeo all.1', 'Bottom Chla all.1', 'Bottom Phaeo all.1', 'surface chla <20 um.1', 'Surface Phaeo <20 um.1', 'Bottom Chla <20 um.1', 'Bottom Phaeo <20 um.1', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37']

,Date,Surface Chla all,Surface Phaeo all,Bottom Chla all,Bottom Phaeo all
0,25-Jan-99,3.72,0.80,3.26,1.15
1,01-Feb-99,2.90,0.74,2.66,0.83
2,08-Feb-99,2.20,0.94,3.24,1.98
3,15-Feb-99,1.34,1.20,1.47,0.60
4,22-Feb-99,12.56,5.33,9.04,4.97

In [24]:
#loading my silica data
###set the first line as col names
banner6=pd.read_excel('../AStahl Dataset/nutrientdata.xls',sheet_name=1)
colnames6=list(banner6.columns)
print(colnames6)
###read in dataset with the col names that was just made
Si_data=pd.read_excel('../AStahl Dataset/nutrientdata.xls',sheet_name=1, names=colnames6,
                     skiprows=2)
#rename columns
Si_data.rename(columns={'DATE':'Date','Si':'Surface Si','Si.1':'Bottom Si'}, inplace=True)
##remove unwanted columns by keeping the columns you want 
Si_data=Si_data.iloc[:,[1,3,9]]
Si_data.head()
###GOOD TO GO

['Sample ID', 'DATE', 'Surface', 'Si', 'Unnamed: 4', 'Unnamed: 5', 'Sample ID.1', 'DATE.1', 'Deep', 'Si.1']

        Date Surface Si Bottom Si
0 2003-02-24   0.134507   0.11277
1 2003-03-10   0.779352  0.746106
2 2003-03-24    3.54383   2.39175
3 2003-04-09     2.6703  0.863474
4 2003-04-23    1.20083  0.579066

In [25]:
#loading my nitrogen and phosphorus data
###set the fifth line as col names
banner7=pd.read_excel('../AStahl Dataset/nutrientdata.xls',sheet_name=0, header=4)
colnames7=list(banner7.columns)
print(colnames7)
###read in dataset with the col names that was just made
NandP_data=pd.read_excel('../AStahl Dataset/nutrientdata.xls',sheet_name=0, names=colnames7,
                         skiprows=6)
###rename columns
NandP_data.rename(columns={'Unnamed: 0':'Date','NH4':'Surface NH4','DIP':'Surface DIP',
                           'NO3+2':'Surface NO3+2','NO3':'Surface NO3','NO2':'Surface NO2',
                          'DIN':'Surface DIN','NH4.1':'Bottom NH4','DIP.1':'Bottom DIP',
                           'NO3+2.1':'Bottom NO3+2','NO3.1':'Bottom NO3','NO2.1':'Bottom NO2',
                           'DIN.1':'Bottom DIN'}, inplace=True)
##remove unwanted columns by keeping the columns you want 
NandP_data=NandP_data.iloc[:,[0,2,3,4,5,6,7,11,12,13,14,15,16]]
NandP_data.head()
##GOOD TO GO

['Unnamed: 0', 'Unnamed: 1', 'NH4', 'DIP', 'NO3+2', 'NO3', 'NO2', 'DIN', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'NH4.1', 'DIP.1', 'NO3+2.1', 'NO3.1', 'NO2.1', 'DIN.1']

,Date,Surface NH4,Surface DIP,Surface NO3+2,Surface NO3,Surface NO2,Surface DIN,Bottom NH4,Bottom DIP,Bottom NO3+2,Bottom NO3,Bottom NO2,Bottom DIN
0,2003-05-05,1.17807,0.171054,2.31024,2.09136,0.218876,3.488308,0.679138,0.269104,0.329064,0.280104,0.04896,1.0082
1,2003-05-21,0.241243,0.0941145,0.108927,0.0469255,0.0620015,0.350170,0.510182,0.241036,0.146274,0.105181,0.041093,0.656456
2,2003-05-28,3.85202,0.440969,2.26947,2.07585,0.193621,6.121488,3.94511,0.560924,1.36987,1.21594,0.153929,5.31499
3,2003-06-04,0.546374,0.261893,1.38173,1.12293,0.258808,1.928109,4.20001,0.691386,2.22854,1.95345,0.275088,6.42855
4,2003-06-09,0.752151,0.240058,2.29541,1.9335,0.361901,3.047557,2.71059,0.542193,0.943768,0.780786,0.162982,3.65435

In [26]:
#loading my count data
###set the first line as col names
banner8=pd.read_excel('../AStahl Dataset/countdata_9.23.2019 .xls',sheet_name=1)
colnames8=list(banner8.columns)
###read in dataset with the col names that was just made
count_data=pd.read_excel('../AStahl Dataset/countdata_9.23.2019 .xls',sheet_name=1, 
                         names=colnames8, skiprows=1)
#rename columns
count_data.rename(columns={'DATE':'Date'}, inplace=True)
##remove unwanted columns by keeping the columns you want 
count_data=count_data.iloc[:,[0,3,8,214,215,216,217,218,234,245,248]]
count_data.head()

,Date,Total abundance,Akashiwo sanguineum,Pseudo-nitzschia fraudulenta,Pseudonitzschia pseudodelicatissima,Pseudonitzschia pungens,Pseudo-nitzschia spp.,Pseudo-nitzschia turgidula cf,Skeletonema spp.,Thalassiosira nordenskioeldii,Thalassiosira rotula
0,1999-01-25 00:00:00,124000.0,0.0,0,0.0,0.0,0.0,0.0,14000.0,0.0,0.0
1,1999-02-01 00:00:00,113000.0,0.0,0,0.0,0.0,0.0,0.0,12000.0,0.0,0.0
2,1999-02-08 00:00:00,107000.0,0.0,0,0.0,0.0,0.0,0.0,3000.0,0.0,0.0
3,1999-02-15 00:00:00,95500.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1999-02-22 00:00:00,163500.0,0.0,0,0.0,0.0,0.0,0.0,6000.0,0.0,0.0

In [36]:
#merging some above datasets
data1=pd.merge(environ_data, chl_data, on=['Date'])
data1.head()
#fixing the Date format for environ and chl
data1['Date'] =  pd.to_datetime(data1['Date'],
                              format='%d-%b-%y')
data1
print(data1['Date'])

0     1999-01-25
1     1999-02-01
2     1999-02-08
3     1999-02-15
4     1999-02-22
5     1999-03-01
6     1999-03-10
7     1999-03-16
8     1999-03-24
9     1999-03-29
10    1999-04-05
11    1999-04-12
12    1999-04-19
13    1999-04-26
14    1999-05-03
15    1999-05-10
16    1999-05-17
17    1999-05-26
18    1999-05-31
19    1999-06-07
20    1999-06-14
21    1999-06-21
22    1999-06-28
23    1999-07-05
24    1999-07-12
25    1999-07-19
26    1999-08-09
27    1999-08-19
28    1999-08-23
29    1999-09-02
         ...
894   2018-12-17
895   2018-12-26
896   2018-12-31
897   2019-01-14
898   2019-01-22
899   2019-01-28
900   2019-02-11
901   2019-02-18
902   2019-02-27
903   2019-03-11
904   2019-03-18
905   2019-03-25
906   2019-04-17
907   2019-04-22
908   2019-04-29
909   2019-05-13
910   2019-05-20
911   2019-05-28
912   2019-06-10
913   2019-06-17
914   2019-06-24
915   2019-07-15
916   2019-07-22
917   2019-07-29
918   2019-08-05
919   2019-08-12
920   2019-08-20
921   2019-08-26
922   2019-09-16
923   2019-09-23
Name: Date, Length: 924, dtype: datetime64[ns]

In [37]:
#merging more datasets
data2=pd.merge(Si_data, NandP_data, on=['Date'])
data2.head(15)

#fixing the date format for Si and N/P
data2['Date'] =  pd.to_datetime(data2['Date'],
                              format='%Y-%m-%d')
print(data2['Date'])

0            NaT
1            NaT
2            NaT
3            NaT
4            NaT
5            NaT
6     2003-05-21
7     2003-05-28
8     2003-06-04
9     2003-06-09
10    2003-06-16
11    2003-06-23
12    2003-06-30
13    2003-07-09
14    2003-07-14
15    2003-07-21
16    2003-07-28
17    2003-08-04
18    2003-08-13
19    2003-08-20
20    2003-08-27
21    2003-09-03
22    2003-09-10
23    2003-09-17
24    2003-09-24
25    2003-09-29
26    2003-10-08
27    2003-10-15
28    2003-10-22
29    2003-10-29
         ...
531   2019-02-11
532   2019-02-18
533   2019-02-27
534   2019-03-06
535   2019-03-11
536   2019-03-18
537   2019-03-25
538   2019-04-01
539   2019-04-08
540   2019-04-17
541   2019-04-22
542   2019-04-29
543   2019-05-06
544   2019-05-13
545   2019-05-20
546   2019-05-28
547   2019-06-03
548   2019-06-10
549   2019-06-17
550   2019-06-24
551   2019-07-01
552   2019-07-08
553   2019-07-15
554   2019-07-22
555   2019-07-29
556   2019-08-05
557   2019-08-12
558   2019-08-20
559   2019-08-26
560   2019-09-03
Name: Date, Length: 561, dtype: datetime64[ns]

In [29]:
#merging the first 4 datasets
data3=pd.merge(data1,data2, on=['Date'])
data3

,Date,Surface Temp,Bottom Temp,Surface Chla all,Surface Phaeo all,Bottom Chla all,Bottom Phaeo all,Surface Si,Bottom Si,Surface NH4,...,Surface NO3+2,Surface NO3,Surface NO2,Surface DIN,Bottom NH4,Bottom DIP,Bottom NO3+2,Bottom NO3,Bottom NO2,Bottom DIN
0,2003-05-21,12.90,11.8,5.57,0.33,4.79,0.83,0.269958,2.33956,0.241243,...,0.108927,0.0469255,0.0620015,0.350170,0.510182,0.241036,0.146274,0.105181,0.041093,0.656456
1,2003-05-28,12.30,11.9,0.86,0.61,1.19,1.35,9.06109,7.63842,3.85202,...,2.26947,2.07585,0.193621,6.121488,3.94511,0.560924,1.36987,1.21594,0.153929,5.31499
2,2003-06-04,14.10,13,9.24,0.67,4.38,1.34,27.7229,17.7328,0.546374,...,1.38173,1.12293,0.258808,1.928109,4.20001,0.691386,2.22854,1.95345,0.275088,6.42855
3,2003-06-09,15.90,14.9,12.60,2.73,5.28,0.92,23.7053,22.2505,0.752151,...,2.29541,1.9335,0.361901,3.047557,2.71059,0.542193,0.943768,0.780786,0.162982,3.65435
4,2003-06-16,15.50,NaN,9.47,2.06,NaN,NaN,26.176,NaN,1.07933,...,1.32016,1.12027,0.199891,2.399490,NaN,NaN,NaN,NaN,NaN,NaN
5,2003-06-23,16.90,16.2,5.71,10.69,8.22,2.72,30.0992,21.866,3.92479,...,2.41355,2.04619,0.367367,6.338339,4.47478,0.704133,1.49194,1.2466,0.245338,5.96672
6,2003-06-30,19.90,16.8,10.37,2.13,9.80,2.55,0.121973,16.1355,0.614473,...,0.196921,0.159576,0.037345,0.811394,4.93927,0.877327,1.35384,1.0869,0.266938,6.29312
7,2003-07-09,23.00,18.3,4.18,1.65,6.30,0.27,1.00975,13.1346,0.67746,...,0.274356,0.241438,0.032918,0.951816,3.88071,1.04692,0.642193,0.542029,0.100164,4.52291
8,2003-07-14,20.40,18.4,6.31,2.02,2.69,1.66,0.581253,11.7825,1.16849,...,0.278762,0.241812,0.03695,1.447253,3.20689,0.891922,0.530355,0.430773,0.099582,3.73724
9,2003-07-21,22.00,18.9,0.57,3.98,3.02,1.74,1.65026,9.36148,0.193365,...,0.125186,0.120333,0.004853,0.318551,0.769064,0.755951,0.071279,0.017278,0.054001,0.840343
10,2003-07-28,22.00,21,3.16,2.99,2.89,1.72,0.223808,6.11643,0.084258,...,0.071428,0.059923,0.011505,0.155686,2.23488,0.907214,0.433774,0.378011,0.055763,2.66865
11,2003-08-04,23.00,21.5,4.10,1.50,2.89,1.83,5.46609,14.8895,0.319205,...,0.07994,0.051307,0.028633,0.399145,0.93301,1.16181,0.09,0.007957,0.082043,1.02301
12,2003-08-13,24.50,22.5,4.30,1.26,2.40,1.56,32.1389,30.8265,1.07677,...,0.041452,0.008493,0.032959,1.118221,1.11402,1.40048,0.259486,0.205524,0.053962,1.37351
13,2003-08-20,22.80,21.6,7.18,2.08,1.66,1.24,44.4417,55.0559,0.626391,...,0.0992295,0.042998,0.0562315,0.725621,1.91719,2.00643,0.305676,0.222938,0.082738,2.22287
14,2003-08-27,21.80,19.2,10.57,1.44,1.24,1.14,34.7029,NaN,4.01,...,0.68,0.53,0.15,4.690000,NaN,NaN,NaN,NaN,NaN,NaN
15,2003-09-03,19.00,19,5.16,1.80,5.89,2.35,77.6202,37.8399,5.08636,...,0.561353,0.431897,0.129456,5.647717,4.95523,1.7865,0.534853,0.422978,0.111875,5.49008
16,2003-09-10,19.40,19.2,15.33,1.60,12.51,2.59,35.2704,48.6652,0.462829,...,0.155993,0.111012,0.044981,0.618822,0.9789,1.0303,0.175837,0.079123,0.096714,1.15474
17,2003-09-17,20.20,20,4.88,1.84,2.32,4.18,42.8211,35.4575,0.760646,...,0.079037,0.008537,0.0705,0.839683,1.0208,0.762776,0.190845,0.105893,0.0849515,1.21165
18,2003-09-29,20.30,20.1,6.04,1.81,3.14,1.70,50.228,37.7157,7.70519,...,2.35998,1.83804,0.521943,10.065175,7.35551,1.22812,1.9797,1.46117,0.518529,9.33521
19,2003-10-08,17.10,16.9,4.77,1.28,4.40,1.25,43.3776,39.4931,8.02544,...,3.66976,2.8221,0.847662,11.695203,7.92924,1.46303,3.42257,2.60726,0.8153,11.3518
20,2003-10-15,16.50,16.3,3.67,1.44,3.10,1.16,67.543,51.9827,11.9865,...,7.93045,6.45905,1.4714,19.916951,11.9736,1.75864,7.70897,6.29519,1.41378,19.6826
21,2003-10-22,14.00,13.6,2.60,0.89,1.98,0.84,46.0323,40.3879,10.3152,...,8.74902,7.46406,1.28496,19.064268,10.5712,1.76975,8.79801,7.55196,1.24604,19.3692
22,2003-10-29,13.70,13.3,2.36,0.94,1.80,0.86,41.3384,40.7313,10.4919,...,10.116,8.78329,1.33271,20.607944,10.6461,1.7378,9.80421,8.46735,1.33686,20.4503
23,2003-11-10,11.20,11.4,2.60,0.93,2.02,0.94,31.3939,31.5313,8.34007,...,10.698,9.43305,1.26497,19.038086,8.19499,1.52897,10.1862,8.99642,1.1898,18.3812
24,2003-11-17,8.20,9.6,1.86,0.38,1.08,0.66,34.3674,24.0966,8.8331,...,12.9153,11.4886,1.42674,21.748405,5.83892,1.26045,8.58913,7.50348,1.08565,14.4281
25,2003-11-24,9.60,9.2,2.12,0.77,1.40,0.74,29.5084,26.967,6.23,...,11.98,10.75,1.23,18.210000,5.72319,1.27693,11.4457,10.3267,1.11906,17.1689
26,2003-12-01,8.80,8.8,2.58,0.76,2.72,0.91,28.8399,26.8427,5.15314,...,12.5387,11.4997,1.039,17.691887,4.81983,1.27614,12.0559,11.0959,0.959933,16.8757
27,2003-12-09,3.40,4.4,1.69,0.76,1.64,0.95,27.1604,24.1707,5.43077,...,14.4694,13.5376,0.931852,19.900216,4.60447,1.14692,12.9443,12.1038,0.840562,17.5488
28,2003-12-15,3.60,4,1.18,0.50,1.38,0.74,29.8667,27.5116,6.73944,...,16.4162,15.65,0.766173,23.155656,5.46511,1.29501,14.7486,14.0344,0.714181,20.2137
29,2003-12-30,5.00,5.6,4.36,0.72,2.66,0.65,25.148,22.3452,3.36015,...,14.7142,14.3335,0.380686,18.074318,3.72602,1.02137,13.4096,13.1423,0.267299,17.1356
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
603,2018-11-26,7.31,7.88,1.79,0.22,1.16,0.97,32.0769,NaN,5.08031,...,11.712,11.1934,0.518558,16.792307,NaN,NaN,NaN,NaN,NaN,NaN
604,2018-12-10,5.09,7.4,2.74,0.56,2.52,1.16,23.4876,NaN,2.31257,...,10.1697,9.85312,0.316546,12.482235,NaN,NaN,NaN,NaN,NaN,NaN
605,2018-12-17,5.56,6.2,3.56,1.05,3.43,1.11,27.8455,NaN,2.65126,...,14.2976,13.9784,0.319165,16.948823,NaN,NaN,NaN,NaN,NaN,NaN
606,2018-12-26,4.90,5,3.39,-0.94,4.16,1.04,17.0199,NaN,0.916036,...,9.10222,8.76254,0.339676,10.018256,NaN,NaN,NaN,NaN,NaN,NaN
607,2018-12-31,5.78,6.43,5.69,0.56,3.56,0.84,22.2107,NaN,1.28565,...,12.6188,12.3619,0.256924,13.904444,NaN,NaN,NaN,NaN,NaN,NaN
608,2019-01-14,2.84,3.21,5.35,0.12,4.97,0.27,17.6975,NaN,1.47874,...,9.45209,9.26696,0.185132,10.930825,NaN,NaN,NaN,NaN,NaN,NaN
609,2019-01-22,2.62,2.63,16.22,2.82,15.99,0.75,8.86248,NaN,0.331614,...,3.11255,2.96706,0.145487,3.444164,NaN,NaN,NaN,NaN,NaN,NaN
610,2019-01-28,1.48,3.46,28.34,-4.36,30.37,-3.56,9.17976,NaN,0.724147,...,6.14145,5.39997,0.741485,6.865598,NaN,NaN,NaN,NaN,NaN,NaN
611,2019-02-11,1.90,2.32,18.19,-1.35,19.14,-0.49,0.789465,NaN,0.394244,...,0.83518,0.804069,0.0311102,1.229423,NaN,NaN,NaN,NaN,NaN,NaN
612,2019-02-18,2.92,3.62,2.58,0.78,3.19,0.88,3.86219,NaN,1.10338,...,1.99533,1.91422,0.0811158,3.098717,NaN,NaN,NaN,NaN,NaN,NaN
613,2019-02-27,2.79,3.15,3.59,0.54,3.66,0.79,5.054,NaN,0.980222,...,2.20343,2.11049,0.0929444,3.183651,NaN,NaN,NaN,NaN,NaN,NaN
614,2019-03-11,2.54,2.85,8.59,0.44,1.49,0.99,0.140789,NaN,0.32656,...,0.579286,0.539822,0.0394641,0.905846,NaN,NaN,NaN,NaN,NaN,NaN
615,2019-03-18,4.23,4.74,0.80,0.39,0.84,0.41,0.93317,NaN,0.835622,...,0.410079,0.373015,0.0370643,1.245701,NaN,NaN,NaN,NaN,NaN,NaN
616,2019-03-25,5.22,5.17,2.40,1.04,0.00,0.00,1.24851,NaN,0.29678,...,0.362711,0.334248,0.0284629,0.659491,NaN,NaN,NaN,NaN,NaN,NaN
617,2019-04-17,7.90,8.5,2.31,0.67,3.34,0.90,2.54765,NaN,0.765025,...,1.58703,1.54125,0.0457784,2.352058,NaN,NaN,NaN,NaN,NaN,NaN
618,2019-04-22,10.75,9.87,1.94,-0.07,2.37,1.27,2.21235,NaN,0.329668,...,0.346899,0.307605,0.0392942,0.676568,NaN,NaN,NaN,NaN,NaN,NaN
619,2019-04-29,10.39,8.89,3.24,1.04,2.61,0.96,9.24377,NaN,0.766995,...,1.06953,0.988289,0.0812421,1.836526,NaN,NaN,NaN,NaN,NaN,NaN
620,2019-05-13,NaN,NaN,3.96,0.02,2.43,1.58,11.5803,NaN,0.596203,...,2.70818,2.53555,0.172631,3.304380,NaN,NaN,NaN,NaN,NaN,NaN
621,2019-05-20,12.54,12.34,2.63,1.38,2.70,1.97,8.30589,NaN,0.408587,...,0.45099,0.385914,0.0650753,0.859577,NaN,NaN,NaN,NaN,NaN,NaN
622,2019-05-28,16.73,16.67,4.45,-0.27,4.74,-0.68,6.72947,NaN,0.684148,...,0.179114,0.152603,0.0265103,0.863261,NaN,NaN,NaN,NaN,NaN,NaN
623,2019-06-10,17.50,15.57,2.29,1.96,2.03,2.96,9.34667,NaN,0.994796,...,0.987897,0.940883,0.0470144,1.982693,NaN,NaN,NaN,NaN,NaN,NaN
624,2019-06-17,17.78,17.48,4.44,2.19,5.17,3.37,6.834,NaN,1.843,...,0.545,0.461,0.084,2.388000,NaN,NaN,NaN,NaN,NaN,NaN
625,2019-06-24,19.31,17.5,8.75,2.99,7.38,2.86,10.019,NaN,0.223,...,0.223,0.115,0.108,0.446000,NaN,NaN,NaN,NaN,NaN,NaN
626,2019-07-15,23.47,21.43,5.53,2.28,5.15,3.43,13.096,NaN,0.404,...,0.405,0.253,0.152,0.809000,NaN,NaN,NaN,NaN,NaN,NaN
627,2019-07-22,25.47,21.55,2.80,1.21,4.81,4.45,15.679,NaN,0.589,...,0.588,0.445,0.143,1.177000,NaN,NaN,NaN,NaN,NaN,NaN
628,2019-07-29,23.09,23.08,1.85,3.73,3.13,3.97,15.733,NaN,0.274,...,0.274,0.243,0.031,0.548000,NaN,NaN,NaN,NaN,NaN,NaN
629,2019-08-05,23.21,20.97,6.24,2.31,5.99,2.60,21.166,NaN,0.294,...,0.294,0.196,0.098,0.588000,NaN,NaN,NaN,NaN,NaN,NaN
630,2019-08-12,22.38,19.31,4.42,4.30,3.01,3.41,18.907,NaN,0.969,...,0.969,0.893,0.076,1.938000,NaN,NaN,NaN,NaN,NaN,NaN
631,2019-08-20,23.49,22.8,5.46,5.90,6.22,17.54,19.66,NaN,1.269,...,1.269,1.183,0.086,2.538000,NaN,NaN,NaN,NaN,NaN,NaN
632,2019-08-26,21.69,NaN,8.28,6.47,0.00,0.00,23.749,NaN,0.52,...,0.52,0.429,0.091,1.040000,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
#fixing the count data date format
count_data['Date']= pd.to_datetime(count_data['Date'],errors='coerce')
count_data.info()
count_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1585 entries, 0 to 1584
Data columns (total 11 columns):
Date                                   1578 non-null datetime64[ns]
Total abundance                        1576 non-null float64
Akashiwo sanguineum                    1580 non-null float64
Pseudo-nitzschia fraudulenta           1580 non-null object
Pseudonitzschia pseudodelicatissima    1580 non-null float64
Pseudonitzschia pungens                1580 non-null float64
Pseudo-nitzschia spp.                  1573 non-null float64
Pseudo-nitzschia turgidula cf          1580 non-null float64
Skeletonema spp.                       1580 non-null float64
Thalassiosira nordenskioeldii          1580 non-null float64
Thalassiosira rotula                   1570 non-null float64
dtypes: datetime64[ns](1), float64(9), object(1)
memory usage: 136.3+ KB

,Date,Total abundance,Akashiwo sanguineum,Pseudo-nitzschia fraudulenta,Pseudonitzschia pseudodelicatissima,Pseudonitzschia pungens,Pseudo-nitzschia spp.,Pseudo-nitzschia turgidula cf,Skeletonema spp.,Thalassiosira nordenskioeldii,Thalassiosira rotula
0,1999-01-25,124000.0,0.0,0,0.0,0.0,0.0,0.0,14000.0,0.0,0.0
1,1999-02-01,113000.0,0.0,0,0.0,0.0,0.0,0.0,12000.0,0.0,0.0
2,1999-02-08,107000.0,0.0,0,0.0,0.0,0.0,0.0,3000.0,0.0,0.0
3,1999-02-15,95500.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1999-02-22,163500.0,0.0,0,0.0,0.0,0.0,0.0,6000.0,0.0,0.0

In [31]:
#final merge of all datasets
data=pd.merge(data3,count_data, on=['Date'])
data.head()

,Date,Surface Temp,Bottom Temp,Surface Chla all,Surface Phaeo all,Bottom Chla all,Bottom Phaeo all,Surface Si,Bottom Si,Surface NH4,...,Total abundance,Akashiwo sanguineum,Pseudo-nitzschia fraudulenta,Pseudonitzschia pseudodelicatissima,Pseudonitzschia pungens,Pseudo-nitzschia spp.,Pseudo-nitzschia turgidula cf,Skeletonema spp.,Thalassiosira nordenskioeldii,Thalassiosira rotula
0,2003-05-21,12.9,11.8,5.57,0.33,4.79,0.83,0.269958,2.33956,0.241243,...,52000.0,0.0,0,0.0,0.0,0.0,0.0,15000.0,0.0,0.0
1,2003-05-28,12.3,11.9,0.86,0.61,1.19,1.35,9.06109,7.63842,3.85202,...,15000.0,0.0,0,0.0,0.0,0.0,0.0,5000.0,0.0,0.0
2,2003-06-04,14.1,13,9.24,0.67,4.38,1.34,27.7229,17.7328,0.546374,...,47000.0,0.0,0,0.0,0.0,0.0,0.0,9000.0,0.0,0.0
3,2003-06-09,15.9,14.9,12.60,2.73,5.28,0.92,23.7053,22.2505,0.752151,...,41000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2003-06-16,15.5,NaN,9.47,2.06,NaN,NaN,26.176,NaN,1.07933,...,44000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [32]:
#I am not looking to fill in any data so I don't want to use the  fillna function
#If I am looking to compare changes over time, I need all the values for all of the variables
#therefore I think the best way to be able to collect all that data is to remove the entire row
data.dropna(how='all')
# I do not think that the data.dropna() will give me enough resolution for the test I want to do 
#Can I do statistical analysis with the data if there is NaN in it? Or does NaN HAVE to be removed 
     ##to do statistical analysis?

,Date,Surface Temp,Bottom Temp,Surface Chla all,Surface Phaeo all,Bottom Chla all,Bottom Phaeo all,Surface Si,Bottom Si,Surface NH4,...,Total abundance,Akashiwo sanguineum,Pseudo-nitzschia fraudulenta,Pseudonitzschia pseudodelicatissima,Pseudonitzschia pungens,Pseudo-nitzschia spp.,Pseudo-nitzschia turgidula cf,Skeletonema spp.,Thalassiosira nordenskioeldii,Thalassiosira rotula
0,2003-05-21,12.90,11.8,5.57,0.33,4.79,0.83,0.269958,2.33956,0.241243,...,52000.0,0.0,0,0.0,0.0,0.0,0.0,15000.0,0.0,0.0
1,2003-05-28,12.30,11.9,0.86,0.61,1.19,1.35,9.06109,7.63842,3.85202,...,15000.0,0.0,0,0.0,0.0,0.0,0.0,5000.0,0.0,0.0
2,2003-06-04,14.10,13,9.24,0.67,4.38,1.34,27.7229,17.7328,0.546374,...,47000.0,0.0,0,0.0,0.0,0.0,0.0,9000.0,0.0,0.0
3,2003-06-09,15.90,14.9,12.60,2.73,5.28,0.92,23.7053,22.2505,0.752151,...,41000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2003-06-16,15.50,NaN,9.47,2.06,NaN,NaN,26.176,NaN,1.07933,...,44000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,2003-06-23,16.90,16.2,5.71,10.69,8.22,2.72,30.0992,21.866,3.92479,...,33000.0,0.0,0,0.0,0.0,3000.0,0.0,13000.0,0.0,0.0
6,2003-06-30,19.90,16.8,10.37,2.13,9.80,2.55,0.121973,16.1355,0.614473,...,944000.0,0.0,0,0.0,0.0,0.0,0.0,337000.0,0.0,0.0
7,2003-07-09,23.00,18.3,4.18,1.65,6.30,0.27,1.00975,13.1346,0.67746,...,690000.0,0.0,0,0.0,0.0,0.0,0.0,335000.0,0.0,0.0
8,2003-07-14,20.40,18.4,6.31,2.02,2.69,1.66,0.581253,11.7825,1.16849,...,1096000.0,0.0,0,0.0,7000.0,0.0,0.0,563000.0,0.0,0.0
9,2003-07-21,22.00,18.9,0.57,3.98,3.02,1.74,1.65026,9.36148,0.193365,...,714000.0,0.0,0,0.0,0.0,46000.0,0.0,480000.0,0.0,0.0
10,2003-07-28,22.00,21,3.16,2.99,2.89,1.72,0.223808,6.11643,0.084258,...,1081000.0,0.0,0,0.0,0.0,0.0,0.0,816000.0,0.0,0.0
11,2003-08-04,23.00,21.5,4.10,1.50,2.89,1.83,5.46609,14.8895,0.319205,...,567000.0,0.0,0,0.0,0.0,2000.0,0.0,53000.0,0.0,0.0
12,2003-08-13,24.50,22.5,4.30,1.26,2.40,1.56,32.1389,30.8265,1.07677,...,650000.0,0.0,0,0.0,0.0,14000.0,0.0,573000.0,0.0,0.0
13,2003-08-20,22.80,21.6,7.18,2.08,1.66,1.24,44.4417,55.0559,0.626391,...,163000.0,0.0,0,0.0,0.0,7000.0,0.0,127000.0,0.0,0.0
14,2003-08-27,21.80,19.2,10.57,1.44,1.24,1.14,34.7029,NaN,4.01,...,168000.0,0.0,0,0.0,0.0,33000.0,0.0,36000.0,0.0,0.0
15,2003-09-03,19.00,19,5.16,1.80,5.89,2.35,77.6202,37.8399,5.08636,...,287000.0,0.0,0,0.0,0.0,0.0,0.0,204000.0,0.0,0.0
16,2003-09-10,19.40,19.2,15.33,1.60,12.51,2.59,35.2704,48.6652,0.462829,...,3177000.0,0.0,0,0.0,0.0,4000.0,0.0,3058000.0,0.0,0.0
17,2003-09-17,20.20,20,4.88,1.84,2.32,4.18,42.8211,35.4575,0.760646,...,57000.0,0.0,0,0.0,0.0,0.0,0.0,29000.0,0.0,0.0
18,2003-09-29,20.30,20.1,6.04,1.81,3.14,1.70,50.228,37.7157,7.70519,...,66000.0,0.0,0,0.0,0.0,3000.0,0.0,47000.0,0.0,0.0
19,2003-10-08,17.10,16.9,4.77,1.28,4.40,1.25,43.3776,39.4931,8.02544,...,616000.0,0.0,0,0.0,0.0,7000.0,0.0,557000.0,0.0,0.0
20,2003-10-15,16.50,16.3,3.67,1.44,3.10,1.16,67.543,51.9827,11.9865,...,135000.0,0.0,0,0.0,0.0,15000.0,0.0,100000.0,0.0,0.0
21,2003-10-22,14.00,13.6,2.60,0.89,1.98,0.84,46.0323,40.3879,10.3152,...,188000.0,0.0,0,0.0,0.0,22000.0,0.0,119000.0,0.0,0.0
22,2003-10-29,13.70,13.3,2.36,0.94,1.80,0.86,41.3384,40.7313,10.4919,...,195000.0,0.0,0,0.0,0.0,64000.0,0.0,54000.0,1000.0,0.0
23,2003-11-10,11.20,11.4,2.60,0.93,2.02,0.94,31.3939,31.5313,8.34007,...,175000.0,0.0,0,0.0,23000.0,4000.0,0.0,81000.0,0.0,0.0
24,2003-11-17,8.20,9.6,1.86,0.38,1.08,0.66,34.3674,24.0966,8.8331,...,207000.0,0.0,0,0.0,25000.0,19000.0,0.0,71000.0,0.0,0.0
25,2003-11-24,9.60,9.2,2.12,0.77,1.40,0.74,29.5084,26.967,6.23,...,396000.0,0.0,0,0.0,17000.0,0.0,0.0,317000.0,0.0,0.0
26,2003-12-01,8.80,8.8,2.58,0.76,2.72,0.91,28.8399,26.8427,5.15314,...,446000.0,0.0,0,0.0,11000.0,12000.0,0.0,314000.0,0.0,0.0
27,2003-12-09,3.40,4.4,1.69,0.76,1.64,0.95,27.1604,24.1707,5.43077,...,169000.0,0.0,0,0.0,5000.0,10000.0,0.0,104000.0,16000.0,0.0
28,2003-12-15,3.60,4,1.18,0.50,1.38,0.74,29.8667,27.5116,6.73944,...,277000.0,0.0,0,0.0,0.0,0.0,0.0,172000.0,42000.0,0.0
29,2003-12-30,5.00,5.6,4.36,0.72,2.66,0.65,25.148,22.3452,3.36015,...,462000.0,0.0,0,0.0,2000.0,0.0,0.0,169000.0,56000.0,20000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1835,2019-04-17,7.90,8.5,2.31,0.67,3.34,0.90,2.54765,NaN,0.765025,...,272000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1836,2019-04-22,10.75,9.87,1.94,-0.07,2.37,1.27,2.21235,NaN,0.329668,...,79000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1837,2019-04-22,10.75,9.87,1.94,-0.07,2.37,1.27,2.21235,NaN,0.329668,...,86000.0,0.0,0,0.0,0.0,0.0,0.0,7000.0,0.0,0.0
1838,2019-04-29,10.39,8.89,3.24,1.04,2.61,0.96,9.24377,NaN,0.766995,...,295000.0,0.0,0,0.0,0.0,0.0,0.0,106000.0,0.0,0.0
1839,2019-04-29,10.39,8.89,3.24,1.04,2.61,0.96,9.24377,NaN,0.766995,...,50000.0,0.0,0,0.0,0.0,0.0,0.0,18000.0,0.0,0.0
1840,2019-05-13,NaN,NaN,3.96,0.02,2.43,1.58,11.5803,NaN,0.596203,...,9000.0,0.0,0,0.0,0.0,0.0,0.0,2000.0,0.0,0.0
1841,2019-05-13,NaN,NaN,3.96,0.02,2.43,1.58,11.5803,NaN,0.596203,...,10000.0,0.0,0,0.0,0.0,0.0,0.0,3000.0,0.0,0.0
1842,2019-05-20,12.54,12.34,2.63,1.38,2.70,1.97,8.30589,NaN,0.408587,...,58000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1843,2019-05-20,12.54,12.34,2.63,1.38,2.70,1.97,8.30589,NaN,0.408587,...,30000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1844,2019-05-28,16.73,16.67,4.45,-0.27,4.74,-0.68,6.72947,NaN,0.684148,...,547000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1845,2019-05-28,16.73,16.67,4.45,-0.27,4.74,-0.68,6.72947,NaN,0.684148,...,477000.0,0.0,0,0.0,0.0,0.0,0.0,11000.0,0.0,0.0
1846,2019-06-10,17.50,15.57,2.29,1.96,2.03,2.96,9.34667,NaN,0.994796,...,80000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1847,2019-06-10,17.50,15.57,2.29,1.96,2.03,2.96,9.34667,NaN,0.994796,...,81000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1848,2019-06-17,17.78,17.48,4.44,2.19,5.17,3.37,6.834,NaN,1.843,...,882000.0,0.0,0,0.0,0.0,0.0,0.0,153000.0,0.0,22000.0
1849,2019-06-17,17.78,17.48,4.44,2.19,5.17,3.37,6.834,NaN,1.843,...,558000.0,0.0,0,0.0,0.0,4000.0,0.0,52000.0,0.0,21000.0
1850,2019-06-24,19.31,17.5,8.75,2.99,7.38,2.86,10.019,NaN,0.223,...,2629000.0,0.0,0,0.0,0.0,0.0,0.0,74000.0,0.0,4000.0
1851,2019-06-24,19.31,17.5,8.75,2.99,7.38,2.86,10.019,NaN,0.223,...,1375000.0,0.0,0,0.0,0.0,16000.0,0.0,58000.0,0.0,0.0
1852,2019-07-15,23.47,21.43,5.53,2.28,5.15,3.43,13.096,NaN,0.404,...,2034000.0,0.0,0,0.0,0.0,13000.0,0.0,1576000.0,0.0,0.0
1853,2019-07-15,23.47,21.43,5.53,2.28,5.15,3.43,13.096,NaN,0.404,...,1839000.0,0.0,0,0.0,0.0,15000.0,0.0,1558000.0,0.0,14000.0
1854,2019-07-22,25.47,21.55,2.80,1.21,4.81,4.45,15.679,NaN,0.589,...,1740000.0,0.0,0,0.0,0.0,14000.0,0.0,1357000.0,0.0,0.0
1855,2019-07-22,25.47,21.55,2.80,1.21,4.81,4.45,15.679,NaN,0.589,...,1026000.0,0.0,0,0.0,0.0,0.0,0.0,836000.0,0.0,0.0
1856,2019-07-29,23.09,23.08,1.85,3.73,3.13,3.97,15.733,NaN,0.274,...,141000.0,0.0,0,0.0,0.0,16000.0,0.0,0.0,0.0,0.0
1857,2019-07-29,23.09,23.08,1.85,3.73,3.13,3.97,15.733,NaN,0.274,...,88000.0,0.0,0,0.0,0.0,4000.0,0.0,0.0,0.0,0.0
1858,2019-08-05,23.21,20.97,6.24,2.31,5.99,2.60,21.166,NaN,0.294,...,1053000.0,0.0,0,0.0,0.0,106000.0,0.0,34000.0,0.0,0.0
1859,2019-08-05,23.21,20.97,6.24,2.31,5.99,2.60,21.166,NaN,0.294,...,1167000.0,0.0,0,0.0,0.0,168000.0,0.0,71000.0,0.0,0.0
1860,2019-08-12,22.38,19.31,4.42,4.30,3.01,3.41,18.907,NaN,0.969,...,153000.0,0.0,0,0.0,0.0,7000.0,0.0,22000.0,0.0,0.0
1861,2019-08-12,22.38,19.31,4.42,4.30,3.01,3.41,18.907,NaN,0.969,...,149000.0,0.0,0,0.0,0.0,23000.0,0.0,12000.0,0.0,0.0
1862,2019-08-20,23.49,22.8,5.46,5.90,6.22,17.54,19.66,NaN,1.269,...,523000.0,8000.0,0,0.0,0.0,0.0,0.0,235000.0,0.0,0.0
1863,2019-08-20,23.49,22.8,5.46,5.90,6.22,17.54,19.66,NaN,1.269,...,104000.0,6000.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1864,2019-08-26,21.69,NaN,8.28,6.47,0.00,0.00,23.749,NaN,0.52,...,176000.0,23000.0,0,0.0,0.0,0.0,0.0,33000.0,0.0,0.0

In [33]:
#removing duplicates
data.duplicated()
data.drop_duplicates()

,Date,Surface Temp,Bottom Temp,Surface Chla all,Surface Phaeo all,Bottom Chla all,Bottom Phaeo all,Surface Si,Bottom Si,Surface NH4,...,Total abundance,Akashiwo sanguineum,Pseudo-nitzschia fraudulenta,Pseudonitzschia pseudodelicatissima,Pseudonitzschia pungens,Pseudo-nitzschia spp.,Pseudo-nitzschia turgidula cf,Skeletonema spp.,Thalassiosira nordenskioeldii,Thalassiosira rotula
0,2003-05-21,12.90,11.8,5.57,0.33,4.79,0.83,0.269958,2.33956,0.241243,...,52000.0,0.0,0,0.0,0.0,0.0,0.0,15000.0,0.0,0.0
1,2003-05-28,12.30,11.9,0.86,0.61,1.19,1.35,9.06109,7.63842,3.85202,...,15000.0,0.0,0,0.0,0.0,0.0,0.0,5000.0,0.0,0.0
2,2003-06-04,14.10,13,9.24,0.67,4.38,1.34,27.7229,17.7328,0.546374,...,47000.0,0.0,0,0.0,0.0,0.0,0.0,9000.0,0.0,0.0
3,2003-06-09,15.90,14.9,12.60,2.73,5.28,0.92,23.7053,22.2505,0.752151,...,41000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2003-06-16,15.50,NaN,9.47,2.06,NaN,NaN,26.176,NaN,1.07933,...,44000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,2003-06-23,16.90,16.2,5.71,10.69,8.22,2.72,30.0992,21.866,3.92479,...,33000.0,0.0,0,0.0,0.0,3000.0,0.0,13000.0,0.0,0.0
6,2003-06-30,19.90,16.8,10.37,2.13,9.80,2.55,0.121973,16.1355,0.614473,...,944000.0,0.0,0,0.0,0.0,0.0,0.0,337000.0,0.0,0.0
7,2003-07-09,23.00,18.3,4.18,1.65,6.30,0.27,1.00975,13.1346,0.67746,...,690000.0,0.0,0,0.0,0.0,0.0,0.0,335000.0,0.0,0.0
8,2003-07-14,20.40,18.4,6.31,2.02,2.69,1.66,0.581253,11.7825,1.16849,...,1096000.0,0.0,0,0.0,7000.0,0.0,0.0,563000.0,0.0,0.0
9,2003-07-21,22.00,18.9,0.57,3.98,3.02,1.74,1.65026,9.36148,0.193365,...,714000.0,0.0,0,0.0,0.0,46000.0,0.0,480000.0,0.0,0.0
10,2003-07-28,22.00,21,3.16,2.99,2.89,1.72,0.223808,6.11643,0.084258,...,1081000.0,0.0,0,0.0,0.0,0.0,0.0,816000.0,0.0,0.0
11,2003-08-04,23.00,21.5,4.10,1.50,2.89,1.83,5.46609,14.8895,0.319205,...,567000.0,0.0,0,0.0,0.0,2000.0,0.0,53000.0,0.0,0.0
12,2003-08-13,24.50,22.5,4.30,1.26,2.40,1.56,32.1389,30.8265,1.07677,...,650000.0,0.0,0,0.0,0.0,14000.0,0.0,573000.0,0.0,0.0
13,2003-08-20,22.80,21.6,7.18,2.08,1.66,1.24,44.4417,55.0559,0.626391,...,163000.0,0.0,0,0.0,0.0,7000.0,0.0,127000.0,0.0,0.0
14,2003-08-27,21.80,19.2,10.57,1.44,1.24,1.14,34.7029,NaN,4.01,...,168000.0,0.0,0,0.0,0.0,33000.0,0.0,36000.0,0.0,0.0
15,2003-09-03,19.00,19,5.16,1.80,5.89,2.35,77.6202,37.8399,5.08636,...,287000.0,0.0,0,0.0,0.0,0.0,0.0,204000.0,0.0,0.0
16,2003-09-10,19.40,19.2,15.33,1.60,12.51,2.59,35.2704,48.6652,0.462829,...,3177000.0,0.0,0,0.0,0.0,4000.0,0.0,3058000.0,0.0,0.0
17,2003-09-17,20.20,20,4.88,1.84,2.32,4.18,42.8211,35.4575,0.760646,...,57000.0,0.0,0,0.0,0.0,0.0,0.0,29000.0,0.0,0.0
18,2003-09-29,20.30,20.1,6.04,1.81,3.14,1.70,50.228,37.7157,7.70519,...,66000.0,0.0,0,0.0,0.0,3000.0,0.0,47000.0,0.0,0.0
19,2003-10-08,17.10,16.9,4.77,1.28,4.40,1.25,43.3776,39.4931,8.02544,...,616000.0,0.0,0,0.0,0.0,7000.0,0.0,557000.0,0.0,0.0
20,2003-10-15,16.50,16.3,3.67,1.44,3.10,1.16,67.543,51.9827,11.9865,...,135000.0,0.0,0,0.0,0.0,15000.0,0.0,100000.0,0.0,0.0
21,2003-10-22,14.00,13.6,2.60,0.89,1.98,0.84,46.0323,40.3879,10.3152,...,188000.0,0.0,0,0.0,0.0,22000.0,0.0,119000.0,0.0,0.0
22,2003-10-29,13.70,13.3,2.36,0.94,1.80,0.86,41.3384,40.7313,10.4919,...,195000.0,0.0,0,0.0,0.0,64000.0,0.0,54000.0,1000.0,0.0
23,2003-11-10,11.20,11.4,2.60,0.93,2.02,0.94,31.3939,31.5313,8.34007,...,175000.0,0.0,0,0.0,23000.0,4000.0,0.0,81000.0,0.0,0.0
24,2003-11-17,8.20,9.6,1.86,0.38,1.08,0.66,34.3674,24.0966,8.8331,...,207000.0,0.0,0,0.0,25000.0,19000.0,0.0,71000.0,0.0,0.0
25,2003-11-24,9.60,9.2,2.12,0.77,1.40,0.74,29.5084,26.967,6.23,...,396000.0,0.0,0,0.0,17000.0,0.0,0.0,317000.0,0.0,0.0
26,2003-12-01,8.80,8.8,2.58,0.76,2.72,0.91,28.8399,26.8427,5.15314,...,446000.0,0.0,0,0.0,11000.0,12000.0,0.0,314000.0,0.0,0.0
27,2003-12-09,3.40,4.4,1.69,0.76,1.64,0.95,27.1604,24.1707,5.43077,...,169000.0,0.0,0,0.0,5000.0,10000.0,0.0,104000.0,16000.0,0.0
28,2003-12-15,3.60,4,1.18,0.50,1.38,0.74,29.8667,27.5116,6.73944,...,277000.0,0.0,0,0.0,0.0,0.0,0.0,172000.0,42000.0,0.0
29,2003-12-30,5.00,5.6,4.36,0.72,2.66,0.65,25.148,22.3452,3.36015,...,462000.0,0.0,0,0.0,2000.0,0.0,0.0,169000.0,56000.0,20000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1835,2019-04-17,7.90,8.5,2.31,0.67,3.34,0.90,2.54765,NaN,0.765025,...,272000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1836,2019-04-22,10.75,9.87,1.94,-0.07,2.37,1.27,2.21235,NaN,0.329668,...,79000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1837,2019-04-22,10.75,9.87,1.94,-0.07,2.37,1.27,2.21235,NaN,0.329668,...,86000.0,0.0,0,0.0,0.0,0.0,0.0,7000.0,0.0,0.0
1838,2019-04-29,10.39,8.89,3.24,1.04,2.61,0.96,9.24377,NaN,0.766995,...,295000.0,0.0,0,0.0,0.0,0.0,0.0,106000.0,0.0,0.0
1839,2019-04-29,10.39,8.89,3.24,1.04,2.61,0.96,9.24377,NaN,0.766995,...,50000.0,0.0,0,0.0,0.0,0.0,0.0,18000.0,0.0,0.0
1840,2019-05-13,NaN,NaN,3.96,0.02,2.43,1.58,11.5803,NaN,0.596203,...,9000.0,0.0,0,0.0,0.0,0.0,0.0,2000.0,0.0,0.0
1841,2019-05-13,NaN,NaN,3.96,0.02,2.43,1.58,11.5803,NaN,0.596203,...,10000.0,0.0,0,0.0,0.0,0.0,0.0,3000.0,0.0,0.0
1842,2019-05-20,12.54,12.34,2.63,1.38,2.70,1.97,8.30589,NaN,0.408587,...,58000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1843,2019-05-20,12.54,12.34,2.63,1.38,2.70,1.97,8.30589,NaN,0.408587,...,30000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1844,2019-05-28,16.73,16.67,4.45,-0.27,4.74,-0.68,6.72947,NaN,0.684148,...,547000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1845,2019-05-28,16.73,16.67,4.45,-0.27,4.74,-0.68,6.72947,NaN,0.684148,...,477000.0,0.0,0,0.0,0.0,0.0,0.0,11000.0,0.0,0.0
1846,2019-06-10,17.50,15.57,2.29,1.96,2.03,2.96,9.34667,NaN,0.994796,...,80000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1847,2019-06-10,17.50,15.57,2.29,1.96,2.03,2.96,9.34667,NaN,0.994796,...,81000.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1848,2019-06-17,17.78,17.48,4.44,2.19,5.17,3.37,6.834,NaN,1.843,...,882000.0,0.0,0,0.0,0.0,0.0,0.0,153000.0,0.0,22000.0
1849,2019-06-17,17.78,17.48,4.44,2.19,5.17,3.37,6.834,NaN,1.843,...,558000.0,0.0,0,0.0,0.0,4000.0,0.0,52000.0,0.0,21000.0
1850,2019-06-24,19.31,17.5,8.75,2.99,7.38,2.86,10.019,NaN,0.223,...,2629000.0,0.0,0,0.0,0.0,0.0,0.0,74000.0,0.0,4000.0
1851,2019-06-24,19.31,17.5,8.75,2.99,7.38,2.86,10.019,NaN,0.223,...,1375000.0,0.0,0,0.0,0.0,16000.0,0.0,58000.0,0.0,0.0
1852,2019-07-15,23.47,21.43,5.53,2.28,5.15,3.43,13.096,NaN,0.404,...,2034000.0,0.0,0,0.0,0.0,13000.0,0.0,1576000.0,0.0,0.0
1853,2019-07-15,23.47,21.43,5.53,2.28,5.15,3.43,13.096,NaN,0.404,...,1839000.0,0.0,0,0.0,0.0,15000.0,0.0,1558000.0,0.0,14000.0
1854,2019-07-22,25.47,21.55,2.80,1.21,4.81,4.45,15.679,NaN,0.589,...,1740000.0,0.0,0,0.0,0.0,14000.0,0.0,1357000.0,0.0,0.0
1855,2019-07-22,25.47,21.55,2.80,1.21,4.81,4.45,15.679,NaN,0.589,...,1026000.0,0.0,0,0.0,0.0,0.0,0.0,836000.0,0.0,0.0
1856,2019-07-29,23.09,23.08,1.85,3.73,3.13,3.97,15.733,NaN,0.274,...,141000.0,0.0,0,0.0,0.0,16000.0,0.0,0.0,0.0,0.0
1857,2019-07-29,23.09,23.08,1.85,3.73,3.13,3.97,15.733,NaN,0.274,...,88000.0,0.0,0,0.0,0.0,4000.0,0.0,0.0,0.0,0.0
1858,2019-08-05,23.21,20.97,6.24,2.31,5.99,2.60,21.166,NaN,0.294,...,1053000.0,0.0,0,0.0,0.0,106000.0,0.0,34000.0,0.0,0.0
1859,2019-08-05,23.21,20.97,6.24,2.31,5.99,2.60,21.166,NaN,0.294,...,1167000.0,0.0,0,0.0,0.0,168000.0,0.0,71000.0,0.0,0.0
1860,2019-08-12,22.38,19.31,4.42,4.30,3.01,3.41,18.907,NaN,0.969,...,153000.0,0.0,0,0.0,0.0,7000.0,0.0,22000.0,0.0,0.0
1861,2019-08-12,22.38,19.31,4.42,4.30,3.01,3.41,18.907,NaN,0.969,...,149000.0,0.0,0,0.0,0.0,23000.0,0.0,12000.0,0.0,0.0
1862,2019-08-20,23.49,22.8,5.46,5.90,6.22,17.54,19.66,NaN,1.269,...,523000.0,8000.0,0,0.0,0.0,0.0,0.0,235000.0,0.0,0.0
1863,2019-08-20,23.49,22.8,5.46,5.90,6.22,17.54,19.66,NaN,1.269,...,104000.0,6000.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1864,2019-08-26,21.69,NaN,8.28,6.47,0.00,0.00,23.749,NaN,0.52,...,176000.0,23000.0,0,0.0,0.0,0.0,0.0,33000.0,0.0,0.0

In [34]:
#Save your file (change the name if necessary).
data.to_csv('../AStahl Dataset/all_data.csv')

**2)** A brief survey: Have you taken an introductory statistics course, and if so, do you remember much from it? For example,

* Can you articulate the null hypotheses for the questions you formulated last week involving your data? 
* Do you know what a t-test is for?
* Do you know what a *p* value represents?
* Do you know what standard deviation is, and how it's calculated?

I took an undergraduate 'Introduction to statistics' class as well as a graduate 'Ecological Statistics' course. 
The null hypothesis for my questions is that there will be no change in temperature/environmental factors or cell abundance over time. 
A t-test is used to determine if there is a statistical difference between the means of 2 groups. 
A p-value is the set level used to determine if there is a significant statistical result from your analysis (usually 0.05). The p-value is the main source of information for accepting or rejecting your null hypothesis. 
The standard deviation tells you how far your data spreads out around the mean. To calculate it:
     find the mean of your dataset
     subtract the mean from each data point 
     square the result
     find the mean of the squared results (this number is known as the variance)
     take the square root of the variance and that is your SD.

#### Submitting

In the Terminal (Mac) or Git Bash (Windows):

`git commit -a -m 'Assignment 6 completed'`  
`git push`

### Reading

1. [_Python for Data Analysis_](https://uri-primo.hosted.exlibrisgroup.com/permalink/f/10nopmq/01URI_ALMA51209454630002396):
    * Section 7.3
    * Chapter 10